body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: white;
}

.box {
  margin-top: 15rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.1);
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 12px 25px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #22c55e, #16a34a);
  color: white;
  font-weight: bold;
  transition: 0.2s;
}


button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #22c55e;
}

.animar {
  animation: tremer 0.3s infinite;
}

@keyframes tremer {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.segredo {
  color: transparent;
  font-size: 22px;
  margin-top: 16rem;
  text-align: center;
  font-weight: bold;
}

.segredo:hover {
  color: red;
}

.alerta {
  color: red;
  font-weight: bold;
  animation: alerta 0.5s infinite;
}

@keyframes alerta {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0; transform: scale(1.2); }
  100% { opacity: 1; transform: scale(1); }
}

img {
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
}

img:hover {
  transform: scale(1.2);
}

html, body {
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none;
}

